:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-bg-color: #ffffff;
}
body {
  background-color: #fff;
  color: var(--primary-text-colorvar(--title-text-color));
  font-family: Roboto, sans-serif;
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
}
.list {
  list-style: none;
}
/* Site nav */
.site-nav .link {
  color: #18a0fb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.button {
  font-family: inherit;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
/* Hero */
.hero-title {
  color: var(--title-text-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}
/* Features */
.features-list .link {
  color: var(--accent-color);
}
/* Button */
.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
